{% extends "base.html" %}

{% block content %}
    <h1>Track List</h1>
    {% if track_list %}
        <ul>
            {% for track in track_list %}
                <li>
                    <a href="{{ track.get_absolute_url }}">{{ track.name }}</a>
                    ( {{ track.description }}, {{ track.name }} )
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>There are no tracks.</p>
    {% endif %}
{% endblock %}
