{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />
		<title>{% block head_title %}{% endblock %}</title>
		{% block extra_head %}
		<link href="{% static 'css/bootstrap.rtl.min.css' %}" rel="stylesheet" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		{% endblock %}
	</head>
	<body>
		{% block body %}
		<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
			<div class="container">
				<a class="navbar-brand" href="#">
					<img
						src="{% static 'images/logo.svg' %}"
						alt="مسكرات أضف"
						height="80px"
					/>
				</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						{% if not user.is_authenticated %}
						<li class="nav-item">
							<a class="btn btn-info text-white me-2" href="{% url 'account_login' %}"
								>{% trans "Sign In" %}</a
							>
						</li>
						<li class="nav-item">
							<a class="btn btn-outline-info me-2" href="{% url 'signup_trainee' %}"
								>{% trans "Sign Up" %}</a
							>
						</li>
						{% endif %} {% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								مرحبا ! {{ user }}
							</a>
							<ul class="dropdown-menu">
								<a class="dropdown-item" href="{% url 'account_email' %}"
									>{% trans "Change E-mail" %}</a
								>

								<li><hr class="dropdown-divider" /></li>

								<li>
									<a
										class="dropdown-item text-danger"
										href="{% url 'account_logout' %}"
										>{% trans "Sign Out" %}</a
									>
								</li>
							</ul>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info mt-3">{{ message }}</div>
				{% endfor %}
			{% endif %} {% block content %} {% endblock %}
			</div>
			{% endblock %} {% block extra_body %}
		<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
		{% endblock %}
	</body>
</html>
